

body{
    
    background:rgb(126, 202, 110);
    background-size: cover;
    margin: 0;
    
}
.link{
    position: fixed;
    z-index: 999999;
    background:#fff;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border:1em solid rgb(64, 104, 37);
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay:  .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

   
.menu{
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid rgb(2, 46, 20);

   
    
}
.menu p{
    font-size: 25px;
    font-weight: bolder;
    color:rgb(2, 46, 20);
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 40px;

}
.menu img{
margin-right: 40px;
margin-bottom: 10px;
}
.scroll{
    height: 100%;
    margin: 0;
    line-height: 180%;
    color: rgba(3, 134, 3, 0.411);
    text-align: center;
}


.parallax{
   background: url("../img/nature.jpg");
   min-height: 800px;
   line-height: 50px;
   position: relative;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;


}

.parallax1{
    background: url("../img/nature.jpg");
    min-height: 500px;
    line-height: 50px;
   position: relative;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;

}
.parallax2{
    background: url("../img/nature.jpg");
    min-height: 800px;
    line-height: 50px;
   position: relative;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   }
.parallax3{
    background: url("../img/background.jpg");
    min-height: 800px;
   position: relative;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   }
   .heading{
    position:absolute;
    color:rgb(2, 46, 20);
    font-size:300%;
    top:30%;
    width:100%;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-shadow: 0 0 10px #000;
}
.tekst{
text-align:left;
padding-left: 20px;
}
.section{
    overflow: auto;
  background: whitesmoke;
}


.text{
    margin-top: 50px;
    padding-left:50px;
    padding-right: 50px;
}
.text p{
    text-align: justify;
    background: white;
}

h2{
    padding-left: 10px;
}
.logo{
        width: 120px;
        padding-left: 20px;
        padding-top: 20px;
        border-radius: 50%;

}


.gallery{
    margin: 50px 50px;
    background: linear-gradient(0deg,rgb(2, 46, 20),rgb(126, 202, 110));
}
.gallery img{
    border-left: 10px solid rgb(2, 46, 20);
    transition: 1s;
    padding:15px;
    width: 200px;
}
.gallery img:hover{
  filter: grayscale(100%);
  transform: scale(1.1);
}

.cards{
    padding-top: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.Text{
    color: rgb(2, 46, 20);
    font-size: 10pt;
    font-weight: bold;
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

   .card-text{
   color: rgb(2, 46, 20);
   text-align: center;
   padding-left: 5px;
   padding-right: 5px;
}
  .plants p{
   background-color: rgba(3, 134, 3, 0.411);
   text-align: center;
   color:rgb(2, 46, 20);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .gym p{
   background-color: rgba(3, 134, 3, 0.411);
   text-align: center;
   color:rgb(2, 46, 20);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .travel p{
   background-color: rgba(3, 134, 3, 0.411);
   text-align: center;
   color:rgb(2, 46, 20);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

   
.card-img-top{
   height: 200px;
   width: 100%;
  }

.gym{
       padding: 0;
       border:5px solid rgb(2, 46, 20);
       border-radius: 15px;
       overflow: hidden;
       width: 16rem;
       
}
.travel{
   padding: 0;
   border:5px solid rgb(2, 46, 20);
   border-radius: 15px;
   overflow: hidden;
   width: 16rem;
}
.plants {
   padding: 0;
   border:5px solid rgb(2, 46, 20);
   border-radius: 15px;
   overflow: hidden;
   width: 16rem;
}
.dButton .button {
   background-color:rgb(197, 197, 15);
   margin-bottom: 30px;
   border-radius: 15px;
   color:rgb(2, 46, 20);
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
   font-weight: bold;
   cursor: pointer;
   
 }
  .dButton .button:hover{
   box-shadow: 0 12px 16px 0 rgba(18, 60, 185, 0.438),0 17px 50px 0  rgba(189, 189, 192, 0.527);
  } 

  
.sajt
{
    background:rgb(126, 202, 110);
    border-radius: 10px;

    
    
}
header{
   
  
    height: 120px;
    background:url("../img/navigation.jpg")no-repeat;
    background-size: cover;
    border-top: 10px solid rgb(2, 46, 20);
    border-bottom: 10px solid rgb(2, 46, 20); 
    
  
}
#burger{
    widows: 40px;
    width: 70px;
 
    
   
    
}
nav{
    display:none;
 

    
}
nav a{
   
    color:rgb(2, 46, 20);
    display: block;
    font-weight: bolder;
    text-decoration:none;
    padding:10px;
    text-align: center;
    
    
    
    
}
nav a:hover {
   
    background-color:rgb(64, 104, 37);
    color: rgb(126, 202, 110);
}
a:hover{

color:rgb(64, 104, 37);
font-weight: bolder;
font-size: 12pt;

}




@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    
     outline: none;
     box-sizing: border-box;
   
 }


 .contact_us{
          width: 100%;
          max-width: 500px;
          height: auto;
      /*    background-color: rgba(2, 46, 20, 0.719);*/
          padding: 40px 50px;
          border-radius: 5px;
 }
 .wrapper{
     background: url("../img/contact1.jpg") no-repeat;
     background-size: cover;
     position:relative;
 }
 
 .title{
   font-size: 1em;
   line-height: 1.25em;
   text-align: center;
   text-transform: uppercase;
   font-weight: 900;
   letter-spacing: 2px;
   color:rgb(2, 46, 20);
   padding-bottom: 15px;
 }
 .input-fields {
   padding: 0 30px;
}

.input-fields .items{
   width: 100%;
   padding-bottom: 15px;
} 
.input-fields .items .label{
   display: block;
   font-size: 1em;
   color: rgb(2, 46, 20);
   text-transform: capitalize;
   transition: all 0.5s ease;
   padding-bottom: 5px;
}

.input-fields .items .input,
.input-fields .items .text-area{
   background: transparent;
   border: 0;
   border: 3px solid rgb(2, 46, 20);
   width: 100%;
   

   font-size: 1em;
   color: rgb(2, 46, 20);
   border-radius: 3px;
}

.btn{
   margin: 0 30px;
   background:rgb(64, 104, 37);
   color: rgb(126, 202, 110);
   font-size: 1.25em;	
   padding: 10px 0;
   text-align: center;
   text-transform: uppercase;
   border-radius: 5px;
   cursor: pointer;
   font-weight: bold;
   letter-spacing: 2px;
}
.items #msg{
   height: 100px;
}


/* jquery code */
.input-fields .items .input.active .label{
   font-size: 15px;
   top: 0;
}




footer {
 
    background: linear-gradient(0deg,rgb(2, 46, 20),rgb(126, 202, 110)); 
    background-size: cover;
    color:rgb(2, 46, 20);
    font-weight: bold;
    height: 400px;
    position: relative;


}
.citat{
    background-image: url("../img/citat.png");
    background-size: cover;
    margin: 0;
    padding-top: 20px;
    height: 100%;
    font-size: 10pt;
    color: rgb(2, 46, 20);
    text-shadow: 0 0 8px #000;
    letter-spacing: 1pt;
    font-family: 'Kaushan Script', 'Sail', cursive;

}
footer .footer-bottom {
    background: whitesmoke;
    color: rgb(2, 46, 20);
    height: 60px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
   padding-top: 20px;
   
}
footer .footer-content{
    height: 100%;
    display: flex;  


}


footer .footer-content .footer-section {
    flex: 1;
    
    
    
} 


h2{
    color: rgb(2, 46, 20);
    
}
.footera:hover{
    color: rgb(99, 170, 228)
}

 footer .footer-content .contact-form{
     font-size: 13pt;
     margin-left: 10px;
 }

   .social{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    
    
   
}
 .social .insta{
    list-style: none;
    padding-right: 7px;
    
}
.social .insta .face{
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow:0 10px 15px rgba(3, 14, 51, 0.658);
    background:linear-gradient(0deg,rgba(2, 46, 20,0.9),rgba(64, 104, 37,0.9) );
    transition: .5s;


}
.face:hover{
    box-shadow: 5px 10px 15px rgba(20, 20, 20, 0.658);
}
.social .insta .face .fab{
    width: 100%;
    height: 100%;
    display: block;
    background:linear-gradient(0deg, rgba(64, 104, 37,0.9) ,  rgba(2, 46, 20,0.9)); 
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;


}
.social .insta:nth-child(1) .face:hover .fab {
 color:rgb(99, 170, 228);
}
.social .insta:nth-child(2) .face:hover .fab{
 color:rgb(195, 42, 163);
}

@media(min-width:700px){
    body{
      background:rgb(126, 202, 110);
      background-size: cover;
      margin: 0;
     
    }
    .menu{
        display: none;
    }
    .sajt{
    
      background:rgb(126, 202, 110);
       
     
    }
    .pozadinica{
        background: url("../img/nature.jpg")no-repeat;
        background-size: cover;
        padding: 100px;
        


    }
    .text{
        background: rgba(12, 21, 48, 0.664);
        padding: 70px;
    }
    header{
    height: 200px;
    background:url("../img/navigation.jpg")no-repeat;
    background-size: cover;
    border-top: 10px solid rgb(2, 46, 20);
    border-bottom: 10px solid rgb(2, 46, 20);
    
    
    }
    .logo{
        width: 164px;
        padding-left: 20px;
        padding-top: 50px;
        border-radius: 50%;
    }
    
    nav {
        background-color:rgb(126, 202, 110);
        display:flex;
        padding-right: 40px;
        height: 50px;    
    }
    nav a {
        text-align: center;
        color:rgb(2, 46, 20); 
        font-weight: bolder;
        font-size: 15pt;
        width: 25%;
        padding-top: 15px;
        text-decoration: none;
     }

   
   nav a:hover{
    color:rgb(126, 202, 110);
    font-weight: bolder;
    font-size: 15pt;
    
    }

 /** kartice **/
 .cards{ 
     padding-top: 50px;
     display:flex;
     flex-direction: row;
     justify-content: space-around;
     flex-flow: wrap;
 }

    .card-text{
    color: rgb(2, 46, 20);;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
   .plants p{
    background-color: rgba(3, 134, 3, 0.411);
    text-align: center;
    color:rgb(2, 46, 20);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   .gym p{
    background-color: rgba(3, 134, 3, 0.411);
    text-align: center;
    color:rgb(2, 46, 20);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   .travel p{
    background-color: rgba(3, 134, 3, 0.411);
    text-align: center;
    color:rgb(2, 46, 20);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }

    
.card-img-top{
    height: 200px;
    width: 100%;
   }

 .gym{
        padding: 0;
        border:5px solid rgb(2, 46, 20);
        border-radius: 15px;
        overflow: hidden;
        width: 16rem;
        
}
.travel{
    padding: 0;
    border:5px solid rgb(2, 46, 20);
    border-radius: 15px;
    overflow: hidden;
    width: 16rem;
}
.plants {
    padding: 0;
    border:5px solid rgb(2, 46, 20);
    border-radius: 15px;
    overflow: hidden;
    width: 16rem;
}
.dButton .button {
    background-color:rgb(197, 197, 15);
    margin-bottom: 30px;
    border-radius: 15px;
    color:rgb(2, 46, 20);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    
  }
   .dButton .button:hover{
    box-shadow: 0 12px 16px 0 rgba(18, 60, 185, 0.438),0 17px 50px 0  rgba(189, 189, 192, 0.527);
   } 

   
    #burger{
        display: none;
        
        
    }


      /**gallery **/
      .gallery{
          margin: 10px 50px;
          background: linear-gradient(0deg,rgb(2, 46, 20),rgb(126, 202, 110));
      }
      .gallery img{
          border-left: 10px solid rgb(2, 46, 20);
          transition: 1s;
          padding:15px;
          width: 250px;
      }
    .gallery img:hover{
        filter: grayscale(100%);
        transform: scale(1.1);
    }
    /** contact form **/
   
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
     *{
         
          outline: none;
          box-sizing: border-box;
         
     }
     
      .contact_us{
          width: 100%;
          max-width: 500px;
          height: 900px;
          padding-top: 150px;
          border-radius: 5px;    
      }
      
      .title{
        font-size: 1em;
        line-height: 1.25em;
        text-align: center;
        text-transform: uppercase;
        font-weight: bolder;
        letter-spacing: 2px;
        color:rgb(2, 46, 20);
        padding-bottom: 15px;
      }
      .input-fields {
        padding: 0 30px;
    }
    
    .input-fields .items{
        width: 100%;
        padding-bottom: 15px;
    } 
    .input-fields .items .label{
        display: block;
        font-size: 1em;
        font-weight: bolder;
        color:rgb(2, 46, 20);
        text-transform: capitalize;
        transition: all 0.5s ease;
        padding-bottom: 5px;
    }
    
    .input-fields .items .input,
    .input-fields .items .text-area{
        background: transparent;
        border: 0;
        border: 3px solid rgb(2, 46, 20);
        width: 100%;
        padding: 8px 10px;
        font-size: 1em;
        color:rgb(2, 46, 20);
        border-radius: 3px;
    }
    
    .btn{
        margin: 0 30px;
        background:rgb(2, 46, 20);
        color:rgb(126, 202, 110);
        font-size: 1.25em;	
        padding: 10px 0;
        text-align: center;
        text-transform: uppercase;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .items #msg{
        height: 100px;
    }
    
    .input-fields .items .input.active .label{
        font-size: 15px;
        top: 0;
    }
       .wrapper{
        display: block;
        text-align: center;
        background: url("../img/contact1.jpg") no-repeat;
        background-size: cover;
        position: relative; 
        
    }
    .contact_us
    {
        display: inline-block;
    }
    .scroll{
        height: 100%;
        margin: 0;
        line-height: 180%;
        color: rgba(3, 134, 3, 0.411);
        text-align: center;
    }

    .parallax{
     background: url("../img/nature.jpg");
     min-height: 800px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    .parallax1{
        background: url("../img/nature.jpg");
        min-height: 500px;
       position: relative;
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       background-attachment: fixed;
    
    }
       .parallax2{
        background: url("../img/nature.jpg");
        min-height: 800px;
       position: relative;
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       background-attachment: fixed;
       }
       .parallax3{
        background: url("../img/background.jpg");
        min-height: 800px;
       position: relative;
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       background-attachment: fixed;

   
       
       }

    .heading{
    
        position:absolute;
        color:rgb(2, 46, 20);
        font-size:300%;
        top:30%;
        width:100%;
        text-transform: uppercase;
        letter-spacing: 8px;
        text-shadow: 0 0 10px #000;

    }



    .tekst{
        text-align: center;
    }

    .section{
        overflow: auto;
        padding: 50px 80px;
        margin: 0;

    }
    .Text{
        color: rgb(5, 68, 31);
        background-color: rgba(125, 202, 110, 0.37);
        font-size: 12pt;
        font-weight: bold;
        text-align: justify;
        padding: 50px;
        
    }
    .izlet{
        color:rgb(2, 46, 20);
        background-image: url("../img/izletJ.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 15pt;
        font-weight: bold;
        text-align: justify;
        margin-left: 50px;
        margin-right: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .plant{
        color:rgb(2, 46, 20);
        background-image: url("../img/programB.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 15pt;
        font-weight: bold;
        text-align: justify;
        margin-left: 50px;
        margin-right: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .trening{
        color:rgb(2, 46, 20);
        background-image: url("../img/img6.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 15pt;
        font-weight: bold;
        text-align: justify;
        margin-left: 50px;
        margin-right: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
    
      /** footer **/

      footer {
        background: linear-gradient(0deg,rgb(2, 46, 20),rgb(126, 202, 110)); 
        background-size: cover;
        color:rgb(2, 46, 20);
        font-weight: bold;
        height: 400px;
        position: relative;
    }
    h2{
    color: rgb(2, 46, 20);
    font-size: 16pt;
    }
    .citat{
        background-image: url("../img/citat.png");
        background-size: cover;
        padding-left: 30px;
        padding-top: 60px;
        padding-right: 30px;
        font-size: 13pt;
        text-align: center;
        color: rgb(5, 68, 31);
        text-shadow: 0 0 8px #000;
        letter-spacing: 1pt;
        font-weight: bold;
       font-family: 'Kaushan Script', 'Sail', cursive;


       

    }
    footer .footer-bottom {
      background: whitesmoke;
        color: rgb(2, 46, 20);
        height: 60px;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0px;
        left: 0px;
       padding-top: 20px;
    }
    footer .footer-content{
        height: 100%;
        display: flex;  
    }
    footer .footer-content .footer-section {
        flex: 1;
        padding-left: 20px;
        
    } 
   
     .social{
        display: flex;
        
       
    }
    .social .insta .face{
        width: 60px;
        height: 60px;
        display: block;
        text-align: center;
        margin: 0 10px;
        border-radius: 50%;
        padding: 6px;
        box-sizing: border-box;
        text-decoration: none;
        box-shadow:0 10px 15px rgba(3, 14, 51, 0.658);
        background:linear-gradient(0deg,rgba(2, 46, 20,0.9),rgba(64, 104, 37,0.9) );
        transition: .5s;
    
    
    }
    .face:hover{
        box-shadow: 5px 10px 15px rgba(20, 20, 20, 0.658);
    }
    .social .insta .face .fab{
        width: 100%;
        height: 100%;
        display: block;
        background:linear-gradient(0deg, rgba(64, 104, 37,0.9) ,  rgba(2, 46, 20,0.9)); 
        border-radius: 50%;
        line-height: calc(60px - 12px);
        font-size: 24px;
        color: #262626;
        transition: .5s;
    
    
    }
    .social .insta:nth-child(1) .face:hover .fab {
     color:rgb(99, 170, 228);
    }
    .social .insta:nth-child(2) .face:hover .fab{
     color:rgb(195, 42, 163);
    }
   
     footer .footer-content .contact-form{
         font-size: 13pt;
     }
    
    

    }
